/* Overall Container */
.overall-container {
    /* background-color: #11153e; */
    color: white;
    width: 100vw;
}

.Container {
    /* border: 1px solid white; */
}

.Box {
    /* border: 1px solid white; */
}

/* For the notes */
.individual-note {
    /* border: 1px solid #cddc39; */
    border-radius: 4px;
    padding: 0px 0px 0px 0px;
    width: 575px;
    background-color: #a3a3c2;
    color: black;
    
}

.notes-wrapper {
    border: 1px solid white;
}

.note-buttons {
    /* border: 1px solid black; */
    overflow: hidden;
}

.delete-note {
    float: right;

}

.edit-note {
    float: left;
    position: relative;
    /* margin: 10px 15px 15px 10px; */
}

.note-record {
    padding: 0px 20px 10px 20px;
}

.timestamp-note {

    width: 200px; 
    float: left;
    position: relative;
    margin: 10px 50px 0px 0px;
}

/* .timestamp-button {
    margin: 10px 0px 0px 0px;
    padding: 50px;

} */

/* For the Video */
.fake-video {
    width: 400px;
    height: 250px;
    border: 1px solid green;
}

/* Grid */

.main-grid {
    height: 100vh;
    /* border: 1px solid white; */
    
    /* background-color: white; */
}

.Grid {
    /* border: 1px solid white; */
    /* background-color: white; */
    
}

.notes-grid {
    /* border: 1px solid green; */
    /* margin: 0 auto;
    width: 300px; */
    
}

.form-grid {
   
    /* border: 1px solid white; */
    width: 650px;
    margin: 0 auto;
    /* padding: 0px 100px;
     */
    
    
}

/* Form */

form {
    text-align: center;
}

/* List */
.List {
    
}

.ListItem {
    /* border: 1px solid black; */
   
}

/* .Badge {
    float: left;
    position: relative;
} */